  :root {
    /* Light mode colors */
    --background-color: #ffffff;
    --text-color: #000000;
    --secondary-background-color: #333333;
    --table-background-color: #f0f0f0;
    --th-background-color: #d3d3d3;
    --tr-hover-background-color: #e0e0e0;
    --h2-text-color: #333333;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Dark mode colors */
      --background-color: #121212;
      --text-color: #e0e0e0;
      --secondary-background-color: #e0e0e0;
      --table-background-color: #1e1e1e;
      --th-background-color: #333333;
      --tr-hover-background-color: #111111;
      --h2-text-color: #e0e0e0;
    }
  }

  h1 {
    padding-top: 20px;
    color: var(--text-color);
  }

  h2 {
    text-align: left;
    color: var(--h2-text-color);
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
    border-radius: 5px;
    background-color: var(--table-background-color);
  }

  th,
  td {
    padding: 10px 15px;
    /* Ensure consistent padding for all cells */
    text-align: left;
    /* Align text to the left for all cells */
  }

  th {
    background-color: var(--th-background-color);
    color: var(--text-color);
  }

  tr:hover {
    background-color: var(--tr-hover-background-color);
  }

  td:nth-child(1),
  th:nth-child(1) {
    width: 5%;
    min-width: 90px;
    text-align: center;
    /* Center align the icon column */
  }

  td:nth-child(2),
  th:nth-child(2) {
    width: 50%;
    text-align: left;
  }

  td:nth-child(3),
  th:nth-child(3) {
    width: 15%;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    /* Center align the player count column */
  }

  td:nth-child(4),
  th:nth-child(4) {
    width: 15%;
    text-align: center;
    /* Center align the show players column */
  }

  td:nth-child(5),
  th:nth-child(5) {
    width: 15%;
    text-align: center;
    /* Center align the join column */
  }

  .join-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    /* Adjusted padding to make buttons smaller */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* Adjusted font size to make buttons smaller */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .join-button:hover {
    background-color: #45a049;
  }

  .toggle-players-button {
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    padding: 5px 10px;
    /* Adjusted padding to make buttons smaller */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /* Adjusted font size to make buttons smaller */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .toggle-players-button:hover {
    background-color: #007BB5;
  }
